.footer {
width:100%;
background-color: black;
}

.actual-footer{
    display: flex;
    justify-content: center;
    align-items: center;
width:100%;
background-color: black;
height: 5vh;
}

.footer__text {
    color: white;
}